<header>
  <h1>Home</h1>
</header>
<section>


  <mat-card class="preview-card">
    <mat-card-header>
      <mat-card-title>Get nutrition details from food package</mat-card-title>
      <mat-card-subtitle>Process an image to get the nutrition panel information</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image id="previewImageOriginal" alt="Preview of image">
    <mat-card-content>
      <p>
        Chose an image file that contains a nutrition panel.
      </p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="fileInput.click()">Choose Image File</button>
      <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>


</section>


<p>
  {{ text }}
</p>

<hr>
<img id="imgOriginal">
<hr>
<img id="imgGrey">
<hr>
<img id="imgBinary">
<hr>
