<header>
  <h1>Explain</h1>
</header>
<section>

  <!-- select image -->

  <mat-card class="step-card">
    <mat-card-header>
      <mat-card-title>Select image</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p [textContent]="fileSelectedInfo"></p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="fileInput.click()">Choose Image File</button>
      <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

  <app-step-card *ngFor="let stepCard of stepCards" [stepCard]="stepCard"></app-step-card>

</section>
